html, body { height: 100%; }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.list {
  list-style-type: none;
  margin: 0 auto;
  padding: .5%;
  width: 100%;
  overflow: hidden;
}
.listItem {
  float: left;
  background-color: #e9c5c7;
  width: 19%;
  height: 300px; /* 高さを整える */
  margin: .5%;
  color: #212354;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fullimage {
  width: 60%;
  height: 40%;
  z-index: 2;
  display: none;
  position: fixed;
}
#overlay{
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color:rgba(0,0,0,0.75);
}